<section data-ng-controller="ArticlesController" data-ng-init="findTakenSurveys()">
    <div class="page-header">
        <h1>Reports</h1>
    </div>
    <div class="list-group">
        		<p data-ng-hide="(articles.length !== 0)">You do not have any surveys yet.</p>
		
        <a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{survey._id}}" class="list-group-item" data-ng-show="((authentication.user) && (authentication.user._id == article.user._id))">
			<h4 class="list-group-item-heading" data-ng-bind="article.surveyID"></h4>
			<h4 class="list-group-item-heading" data-ng-bind="numberOfUniqueResponses"></h4>
			<h4 class="list-group-item-heading" data-ng-bind="readingCode"></h4>
			
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!articles.$resolved || articles.length">
    	No Surveys yet, why don't you <a href="/#!/articles/create">create one</a>?
    </div>
</section>