<section data-ng-controller="SurveysController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Survey</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="survey.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                    <label class="control-label" for="question1" >Question 1</label>
                    <textarea type="text" data-ng-model="survey.question1" id="question1" class="form-control" required ></textarea>
                    <div class="radio">
                        <input type="radio" disabled name="answers"><input type="text" data-ng-model="survey.answers1a"><br/>
                        <input type="radio" disabled name="answers"><input type="text" data-ng-model="survey.answers1b"><br/>
                        <input type="radio" disabled name="answers"><input type="text" data-ng-model="survey.answers1c"><br/>
                        <input type="radio" disabled name="answers"><input type="text" data-ng-model="survey.answers1d">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>