<section data-ng-controller="SurveysController" data-ng-init="findOne()" data-ng-show="((authentication.user) && (authentication.user._id == survey.user._id))">
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == survey.user._id))">
		<a class="btn btn-primary" href="/#!/surveys/{{survey._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    <form class="form-horizontal"  data-ng-submit="createResponse()" action="newPage" novalidate>
    	<div class="page-header">
		<h1  data-ng-bind="survey.title"></h1>
	</div>
	 <label class="control-label" for="question1" >Question 1</label>

    <label data-ng-bind="survey.question1" class="form-control" ></label>
    <div class="radio">
        <input type="radio" disabled name="answers" value="a"><p> {{survey.answers1a}}</p><br/>
        <input type="radio" disabled name="answers" value="b"><p> {{survey.answers1b}}</p><br/>
        <input type="radio" disabled name="answers" value="c"><p> {{survey.answers1c}}</p><br/>
        <input type="radio" disabled name="answers" value="d"><p> {{survey.answers1d}}</p><br/>
    </div>
</form>

	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="survey.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="survey.user.displayName"></span>
		</em>
	</small>
</section>